<div>
    <h2 data-translate="jobnowApp.candidatura.home.title">Candidaturas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="candidatura.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="jobnowApp.candidatura.home.createLabel">
                        Create new Candidatura
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cv_texto"><span data-translate="jobnowApp.candidatura.cv_texto">Cv Texto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cv_fichero"><span data-translate="jobnowApp.candidatura.cv_fichero">Cv Fichero</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="apto"><span data-translate="jobnowApp.candidatura.apto">Apto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="oferta.id"><span data-translate="jobnowApp.candidatura.oferta">Oferta</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="usuario.id"><span data-translate="jobnowApp.candidatura.usuario">Usuario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="candidatura in vm.candidaturas track by candidatura.id">
                    <td><a ui-sref="candidatura-detail({id:candidatura.id})">{{candidatura.id}}</a></td>
                    <td>{{candidatura.cv_texto}}</td>
                    <td>
                        <a ng-if="candidatura.cv_fichero" ng-click="vm.openFile(candidatura.cv_ficheroContentType, candidatura.cv_fichero)" data-translate="entity.action.open">open</a>
                        <span ng-if="candidatura.cv_fichero">{{candidatura.cv_ficheroContentType}}, {{vm.byteSize(candidatura.cv_fichero)}}</span>
                    </td>
                    <td>{{candidatura.apto}}</td>
                    <td>
                        <a ui-sref="oferta-detail({id:candidatura.oferta.id})">{{candidatura.oferta.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="usuario-detail({id:candidatura.usuario.id})">{{candidatura.usuario.nombre}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="candidatura-detail({id:candidatura.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="candidatura.edit({id:candidatura.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="candidatura.delete({id:candidatura.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
