
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCandidaturaLabel" data-translate="jobnowApp.candidatura.home.createOrEditLabel">Create or edit a Candidatura</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.candidatura.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.candidatura.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jobnowApp.candidatura.cv_texto" for="field_cv_texto">Cv Texto</label>
            <input type="text" class="form-control" name="cv_texto" id="field_cv_texto"
                    ng-model="vm.candidatura.cv_texto"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setCv_fichero($file, vm.candidatura)">
            <label class="control-label" data-translate="jobnowApp.candidatura.cv_fichero" for="field_cv_fichero">Cv Fichero</label>
            <div>
                <div ng-if="vm.candidatura.cv_fichero" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.candidatura.cv_ficheroContentType, vm.candidatura.cv_fichero)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.candidatura.cv_ficheroContentType}}, {{vm.byteSize(vm.candidatura.cv_fichero)}}</span>
                    <button type="button" ng-click="vm.candidatura.cv_fichero=null;vm.candidatura.cv_ficheroContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setCv_fichero($file, vm.candidatura)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="cv_fichero" id="field_cv_fichero"
                    ng-model="vm.candidatura.cv_fichero"
                    />
            <input type="hidden" class="form-control" name="cv_ficheroContentType" id="field_cv_ficheroContentType"
                    ng-model="vm.candidatura.cv_ficheroContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jobnowApp.candidatura.apto" for="field_apto">Apto</label>
                <input type="checkbox" name="apto" id="field_apto"
                          ng-model="vm.candidatura.apto"/>
        </div>

        <div class="form-group">
            <label data-translate="jobnowApp.candidatura.oferta" for="field_oferta">Oferta</label>
            <select class="form-control" id="field_oferta" name="oferta" ng-model="vm.candidatura.oferta" ng-options="oferta as oferta.id for oferta in vm.ofertas track by oferta.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="jobnowApp.candidatura.usuario" for="field_usuario">Usuario</label>
            <select class="form-control" id="field_usuario" name="usuario" ng-model="vm.candidatura.usuario" ng-options="usuario as usuario.id for usuario in vm.usuarios track by usuario.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
