
<div>
    <h2><span data-translate="jobnowApp.candidatura.detail.title">Candidatura</span> {{vm.candidatura.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="jobnowApp.candidatura.cv_texto">Cv Texto</span></dt>
        <dd>
            <span>{{vm.candidatura.cv_texto}}</span>
        </dd>
        <dt><span data-translate="jobnowApp.candidatura.cv_fichero">Cv Fichero</span></dt>
        <dd>
            <div ng-if="vm.candidatura.cv_fichero">
                <a ng-click="vm.openFile(vm.candidatura.cv_ficheroContentType, vm.candidatura.cv_fichero)" data-translate="entity.action.open">open</a>
                {{vm.candidatura.cv_ficheroContentType}}, {{vm.byteSize(vm.candidatura.cv_fichero)}}
            </div>
        </dd>
        <dt><span data-translate="jobnowApp.candidatura.apto">Apto</span></dt>
        <dd>
            <span>{{vm.candidatura.apto}}</span>
        </dd>
        <dt><span data-translate="jobnowApp.candidatura.oferta">Oferta</span></dt>
        <dd>
            <a ui-sref="oferta-detail({id:vm.candidatura.oferta.id})">{{vm.candidatura.oferta.id}}</a>
        </dd>
        <dt><span data-translate="jobnowApp.candidatura.usuario">Usuario</span></dt>
        <dd>
            <a ui-sref="usuario-detail({id:vm.candidatura.usuario.id})">{{vm.candidatura.usuario.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="candidatura-detail.edit({id:vm.candidatura.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
