
<div>
    <h2><span data-translate="jobnowApp.oferta.detail.title">Oferta</span> {{vm.oferta.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="jobnowApp.oferta.titulo">Titulo</span></dt>
        <dd>
            <span>{{vm.oferta.titulo}}</span>
        </dd>
        <dt><span data-translate="jobnowApp.oferta.detalle">Detalle</span></dt>
        <dd>
            <span>{{vm.oferta.detalle}}</span>
        </dd>
        <dt><span data-translate="jobnowApp.oferta.localidad">Localidad</span></dt>
        <dd>
            <span>{{vm.oferta.localidad}}</span>
        </dd>
        <dt><span data-translate="jobnowApp.oferta.fecha">Fecha</span></dt>
        <dd>
            <span>{{vm.oferta.fecha | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="jobnowApp.oferta.tipo_contrato">Tipo Contrato</span></dt>
        <dd>
            <span>{{vm.oferta.tipo_contrato}}</span>
        </dd>
        <dt><span data-translate="jobnowApp.oferta.jornada">Jornada</span></dt>
        <dd>
            <span>{{vm.oferta.jornada}}</span>
        </dd>
        <dt><span data-translate="jobnowApp.oferta.salario">Salario</span></dt>
        <dd>
            <span>{{vm.oferta.salario}}</span>
        </dd>
        <dt><span data-translate="jobnowApp.oferta.empresa">Empresa</span></dt>
        <dd>
<<<<<<< HEAD
          <span>{{vm.oferta.empresa.nombre}}</span>           
=======
            <a ui-sref="empresa-detail({id:vm.oferta.empresa.id})">{{vm.oferta.empresa.nombre}}</a>
>>>>>>> 55c60cb8e116c9dcfd620c7039994685bbe7abc5
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="oferta-detail.edit({id:vm.oferta.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
    
            <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cv_texto"><span data-translate="jobnowApp.candidatura.cv_texto">Cv Texto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cv_fichero"><span data-translate="jobnowApp.candidatura.cv_fichero">Cv Fichero</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="apto"><span data-translate="jobnowApp.candidatura.apto">Apto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="oferta.id"><span data-translate="jobnowApp.candidatura.oferta">Oferta</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="usuario.id"><span data-translate="jobnowApp.candidatura.usuario">Usuario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="usuario.id"><span data-translate="jobnowApp.candidatura.usuario">Usuario Telefono</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="candidatura in vm.candidaturas track by candidatura.id">
                    <td><a ui-sref="candidatura-detail({id:candidatura.id})">{{candidatura.id}}</a></td>
                    <td>{{candidatura.cv_texto}}</td>
                    <td>
                        <a ng-if="candidatura.cv_fichero" ng-click="vm.openFile(candidatura.cv_ficheroContentType, candidatura.cv_fichero)" data-translate="entity.action.open">open</a>
                        <span ng-if="candidatura.cv_fichero">{{candidatura.cv_ficheroContentType}}, {{vm.byteSize(candidatura.cv_fichero)}}</span>
                    </td>
                    <td>{{candidatura.apto}}</td>
                    <td>
                        <a ui-sref="oferta-detail({id:candidatura.oferta.id})">{{candidatura.oferta.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="usuario-detail({id:candidatura.usuario.id})">{{candidatura.usuario.nombre}}</a>
                    </td>
                    <td>
                        <a ui-sref="usuario-detail({id:candidatura.usuario.id})">{{candidatura.usuario.telefono}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="candidatura-detail({id:candidatura.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="candidatura.edit({id:candidatura.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="candidatura.delete({id:candidatura.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    
    
</div>
