<div>
    <h2 data-translate="jobnowApp.oferta.home.title">Ofertas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="oferta.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="jobnowApp.oferta.home.createLabel">
                        Create new Oferta
                    </span>
                </button>               
              
                <button class="btn btn-primary" ui-sref="candidatura" > 
                    <span class="glyphicon glyphicon-pencil"></span> 
                    <span  data-translate="jobnowApp.oferta.home.iraCandidaturas"> 
                    </span> 
                </button>   
                
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="titulo"><span data-translate="jobnowApp.oferta.titulo">Titulo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="detalle"><span data-translate="jobnowApp.oferta.detalle">Detalle</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="localidad"><span data-translate="jobnowApp.oferta.localidad">Localidad</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fecha"><span data-translate="jobnowApp.oferta.fecha">Fecha</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipo_contrato"><span data-translate="jobnowApp.oferta.tipo_contrato">Tipo Contrato</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jornada"><span data-translate="jobnowApp.oferta.jornada">Jornada</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="salario"><span data-translate="jobnowApp.oferta.salario">Salario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="empresa.id"><span data-translate="jobnowApp.oferta.empresa">Empresa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="oferta in vm.ofertas track by oferta.id">
                    <td><a ui-sref="oferta-detail({id:oferta.id})">{{oferta.id}}</a></td>
                    <td>{{oferta.titulo}}</td>
                    <td>{{oferta.detalle}}</td>
                    <td>{{oferta.localidad}}</td>
                        <td>{{oferta.fecha | date:'mediumDate'}}</td>
                    <td>{{oferta.tipo_contrato}}</td>
                    <td>{{oferta.jornada}}</td>
                    <td>{{oferta.salario}}</td>

                    <td>
                        <a ui-sref="empresa-detail({id:oferta.empresa.id})">{{oferta.empresa.nombre}}</a>
                    </td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="oferta-detail({id:oferta.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="oferta.edit({id:oferta.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="oferta.delete({id:oferta.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
