
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOfertaLabel" data-translate="jobnowApp.oferta.home.createOrEditLabel">Create or edit a Oferta</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.oferta.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.oferta.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jobnowApp.oferta.titulo" for="field_titulo">Titulo</label>
            <input type="text" class="form-control" name="titulo" id="field_titulo"
                    ng-model="vm.oferta.titulo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jobnowApp.oferta.detalle" for="field_detalle">Detalle</label>
            <input type="text" class="form-control" name="detalle" id="field_detalle"
                    ng-model="vm.oferta.detalle"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jobnowApp.oferta.localidad" for="field_localidad">Localidad</label>
            <input type="text" class="form-control" name="localidad" id="field_localidad"
                    ng-model="vm.oferta.localidad"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jobnowApp.oferta.fecha" for="field_fecha">Fecha</label>
                <div class="input-group">
                    <input id="field_fecha" type="text" class="form-control" name="fecha" uib-datepicker-popup="{{dateformat}}" ng-model="vm.oferta.fecha" is-open="vm.datePickerOpenStatus.fecha"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jobnowApp.oferta.tipo_contrato" for="field_tipo_contrato">Tipo Contrato</label>
            <input type="text" class="form-control" name="tipo_contrato" id="field_tipo_contrato"
                    ng-model="vm.oferta.tipo_contrato"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jobnowApp.oferta.jornada" for="field_jornada">Jornada</label>
            <input type="text" class="form-control" name="jornada" id="field_jornada"
                    ng-model="vm.oferta.jornada"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jobnowApp.oferta.salario" for="field_salario">Salario</label>
            <input type="number" class="form-control" name="salario" id="field_salario"
                    ng-model="vm.oferta.salario"
                    />
        </div>

        <div class="form-group">        
            <label data-translate="jobnowApp.oferta.empresa" for="field_empresa">Empresa</label>
            <select class="form-control" id="field_empresa" name="empresa" ng-model="vm.oferta.empresa" ng-options="empresa as empresa.nombre for empresa in vm.empresas track by empresa.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
