
<div>
    <h2><span data-translate="jobnowApp.usuario.detail.title">Usuario</span> {{vm.usuario.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="jobnowApp.usuario.nombre">Nombre</span></dt>
        <dd>
            <span>{{vm.usuario.nombre}}</span>
        </dd>
        <dt><span data-translate="jobnowApp.usuario.apellido">Apellido</span></dt>
        <dd>
            <span>{{vm.usuario.apellido}}</span>
        </dd>
        <dt><span data-translate="jobnowApp.usuario.dni">Dni</span></dt>
        <dd>
            <span>{{vm.usuario.dni}}</span>
        </dd>
        <dt><span data-translate="jobnowApp.usuario.telefono">Telefono</span></dt>
        <dd>
            <span>{{vm.usuario.telefono}}</span>
        </dd>
        <dt><span data-translate="jobnowApp.usuario.email">Email</span></dt>
        <dd>
            <span>{{vm.usuario.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="usuario-detail.edit({id:vm.usuario.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
