
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUsuarioLabel" data-translate="jobnowApp.usuario.home.createOrEditLabel">Create or edit a Usuario</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.usuario.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.usuario.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jobnowApp.usuario.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.usuario.nombre"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jobnowApp.usuario.apellido" for="field_apellido">Apellido</label>
            <input type="text" class="form-control" name="apellido" id="field_apellido"
                    ng-model="vm.usuario.apellido"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jobnowApp.usuario.dni" for="field_dni">Dni</label>
            <input type="text" class="form-control" name="dni" id="field_dni"
                    ng-model="vm.usuario.dni"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jobnowApp.usuario.telefono" for="field_telefono">Telefono</label>
            <input type="number" class="form-control" name="telefono" id="field_telefono"
                    ng-model="vm.usuario.telefono"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jobnowApp.usuario.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.usuario.email"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
