
<div>
    <h2><span data-translate="jobnowApp.empresa.detail.title">Empresa</span> {{vm.empresa.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="jobnowApp.empresa.nombre">Nombre</span></dt>
        <dd>
            <span>{{vm.empresa.nombre}}</span>
        </dd>
        <dt><span data-translate="jobnowApp.empresa.ciudad">Ciudad</span></dt>
        <dd>
            <span>{{vm.empresa.ciudad}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="empresa-detail.edit({id:vm.empresa.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
    
    
    <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="titulo"><span data-translate="jobnowApp.oferta.titulo">Titulo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="detalle"><span data-translate="jobnowApp.oferta.detalle">Detalle</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="localidad"><span data-translate="jobnowApp.oferta.localidad">Localidad</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fecha"><span data-translate="jobnowApp.oferta.fecha">Fecha</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipo_contrato"><span data-translate="jobnowApp.oferta.tipo_contrato">Tipo Contrato</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jornada"><span data-translate="jobnowApp.oferta.jornada">Jornada</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="salario"><span data-translate="jobnowApp.oferta.salario">Salario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="empresa.id"><span data-translate="jobnowApp.oferta.empresa">Empresa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="oferta in vm.ofertas track by oferta.id">
                    <td><a ui-sref="oferta-detail({id:oferta.id})">{{oferta.id}}</a></td>
                    <td>{{oferta.titulo}}</td>
                    <td>{{oferta.detalle}}</td>
                    <td>{{oferta.localidad}}</td>
                        <td>{{oferta.fecha | date:'mediumDate'}}</td>
                    <td>{{oferta.tipo_contrato}}</td>
                    <td>{{oferta.jornada}}</td>
                    <td>{{oferta.salario}}</td>
                    <td>
                        <a ui-sref="empresa-detail({id:oferta.empresa.id})">{{oferta.empresa.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="oferta-detail({id:oferta.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="oferta.edit({id:oferta.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="oferta.delete({id:oferta.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
     </table>
    
    
</div>
