
<form name="editForm" role="form" novalidate >

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCandidaturaLabel" data-translate="jobnowApp.candidatura.home.NuevaLabel">Create or edit a Candidatura</h4>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.candidatura.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.candidatura.id" readonly />
        </div>
        <div class="form-group" ng-show="!vm.altaPendiente">
            <label class="control-label" data-translate="jobnowApp.candidatura.cv_texto" for="field_cv_texto">Cv Texto</label>
            <input type="text" class="form-control" name="cv_texto" id="field_cv_texto"
                    ng-model="vm.candidatura.cv_texto"
                    />
        </div>
        <div class="form-group" ng-show="!vm.altaPendiente" ngf-drop ngf-change="vm.setCv_fichero($file, vm.candidatura)">
            <label class="control-label" data-translate="jobnowApp.candidatura.cv_fichero" for="field_cv_fichero">Cv Fichero</label>
            <div>
                <div ng-if="vm.candidatura.cv_fichero" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.candidatura.cv_ficheroContentType, vm.candidatura.cv_fichero)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.candidatura.cv_ficheroContentType}}, {{vm.byteSize(vm.candidatura.cv_fichero)}}</span>
                    <button type="button" ng-click="vm.candidatura.cv_fichero=null;vm.candidatura.cv_ficheroContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setCv_fichero($file, vm.candidatura)" data-translate="jobnowApp.candidatura.alta.enviarCv">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="cv_fichero" id="field_cv_fichero"
                    ng-model="vm.candidatura.cv_fichero"
                    />
            <input type="hidden" class="form-control" name="cv_ficheroContentType" id="field_cv_ficheroContentType"
                    ng-model="vm.candidatura.cv_ficheroContentType" />
        </div>
        <!-- <div class="form-group">
            <label class="control-label" data-translate="jobnowApp.candidatura.apto" for="field_apto">Apto</label>
                <input type="checkbox" name="apto" id="field_apto"
                          ng-model="vm.candidatura.apto"/>
        </div> -->
        <div class="form-group">
            <label data-translate="jobnowApp.candidatura.oferta" for="field_oferta">Oferta</label>
            <div ng-if="vm.candidatura.oferta">
                <input type="text" class="form-control" name="titulo" id="field_titulo"
                            ng-model="vm.candidatura.oferta.titulo" readonly    />
                <input type="text" class="form-control" name="detalle" id="field_detalle"
                            ng-model="vm.candidatura.oferta.detalle" readonly   />
            </div>
            <div ng-if="!vm.candidatura.oferta">
                <select class="form-control" id="field_oferta" name="oferta" ng-model="vm.candidatura.oferta" ng-options="oferta as oferta.id for oferta in vm.ofertas track by oferta.id">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <!-- introducimos datos del usuario : tlfn y candidatuta -->
        <div class="form-group" >
            <label class="control-label" data-translate="jobnowApp.candidatura.alta.telefono" for="field_telefono">Telefono</label>
            <input ng-disabled="vm.altaPendiente" type="number" class="form-control" name="telefono" id="field_telefono" ng-model="vm.telefono"    />
        </div>
        <div class="form-group" >
            <label class="control-label" data-translate="jobnowApp.candidatura.alta.email" for="field_email">Email</label>
            <input ng-disabled="vm.altaPendiente" type="email" class="form-control" name="email" id="field_email" ng-model="vm.email"     />
        </div>
        
        <div ng-if="!vm.validado && vm.altaPendiente">
            <h3 class="control-label" data-translate="jobnowApp.candidatura.usuarioLabel">
                Introduzca datos adicionales de usuario
            </h3>
            <div class="form-group" ng-if="!vm.usuario || !vm.nombre">
                <label class="control-label" data-translate="jobnowApp.usuario.nombre" for="field_nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="field_nombre"
                        ng-model="vm.nombre"    />
            </div>
            <div class="form-group" ng-if="!vm.usuario || !vm.apellido">
                <label class="control-label" data-translate="jobnowApp.usuario.apellido" for="field_apellido">Apellido</label>
                <input type="text" class="form-control" name="apellido" id="field_apellido"
                        ng-model="vm.apellido"  />
            </div>
            <div class="form-group" ng-if="!vm.usuario || !vm.dni">
                <label class="control-label" data-translate="jobnowApp.usuario.dni" for="field_dni">Dni</label>
                <input type="text" class="form-control" name="dni" id="field_dni"
                        ng-model="vm.dni" />
            </div>
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-block btn-primary" ng-click="vm.validar()">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="jobnowApp.candidatura.save2Label">Guardar Candidatura y Usuario </span>
            </button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="button" ng-show="!vm.altaPendiente" ng-disabled="editForm.$invalid || vm.isSaving || vm.telefono == null || vm.email == null" class="btn btn-primary" ng-click="vm.validar()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
