
<div ng-cloak>
  <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <div class="col-xs-18">
            <button class="btn btn-primary"
            ng-disabled="!vm.localidad && !vm.titulo"
            		ng-click="vm.ofertaSearch()">
                    <span class="glyphicon glyphicon-search"></span>
                    <span  data-translate="jobnowApp.oferta.home.searchLabel">
                        Buscar Oferta
                    </span>
                </button>
                
                    <div class="col-xs-9" style="color:Blue"> 
              
             			 <label for="localidad">Seleccionar por Localidad </label>
 						 <input type="text" name="localidad" ng-model="vm.localidad">             		             
             		           			  					              	
              		<div class="col-xs-6" style="color:Blue">
              			 <label for="titulo">Buscar por Oferta </label>
 						 <input type="text" name="titulo" ng-model="vm.titulo">	             			             			           		
					 </div>			 				             
           		 </div>
			 </div>
				 
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    
                    <th jh-sort-by="titulo"><span data-translate="jobnowApp.oferta.titulo">Titulo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="localidad"><span data-translate="jobnowApp.oferta.localidad">Localidad</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fecha"><span data-translate="jobnowApp.oferta.fecha">Fecha</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="empresa.id"><span data-translate="jobnowApp.oferta.empresa">Empresa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="oferta in vm.ofertas track by oferta.id">                   
                    <td>{{oferta.titulo}}</td>                    
                    <td>{{oferta.localidad}}</td>
                    <td>{{oferta.fecha | date:'mediumDate'}}</td>  
                    <td>{{oferta.empresa.nombre}}</td>                 
                    
                    <td class="text-right">                        
                            <button type="submit"                                    
                                    class="btn btn-info btn-sm"
                                    ui-sref="CandidaturaAltaIdOferta({id:vm.id})">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <span class="hidden-sm-down" data-translate="entity.action.view1"> </span>
                            </button>
                    </td>
                    <td class="text-right">                        
                            <button type="submit"
                                    ui-sref="candidatura.new()"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="hidden-sm-down" data-translate="jobnowApp.candidatura.home.createLabel"> </span>
                            </button>
                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>